/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/purifier
/vendor
/.idea
/.phpintel
/.vscode
/.vagrant
/.git-obsolet

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.env
.env.save
.env.save.1
.phpunit.result.cache

/public/qd
/public/wp-content
/public/mix-manifest.json
/storage/default
/storage/local
/storage/testing
/storage/uploads
*.bkp
*.sh
*.py
*.*~
composer
composer.phar
.DS_Store
Thumbs.db
TODO
routes.txt
diff.txt
model.txt
controller.txt
