.custom-hidden
{
    display: none;
}

.mb-5px
{
    margin-bottom: 5px;
}

.btn-blue{
    background-color: #4ECFD2;
    color: #ffffff;
}

.btn-green{
    background-color: #9ccd5f;
    color: #ffffff;
}

.custom-filter-gray{
    filter: grayscale(100%);
}

.custom-f-s-small{
    font-size: 15px;
}

.badge-secondary{
    font-size: 15px;
}

.btn-small {
    border: none;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 15px;
    text-transform: uppercase;
}

.btn-small:hover {
    background-color: #262525 !important;
}
