/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 27, 2022, 2:04:24 PM
    Author     : Saul
*/

.bg-green-blue {
	bagkground-color: #90d06b;
	background-image: linear-gradient(to right, #90d06b, #01dacb);
}

.tag {
	display: inline-block;
	border-radius: 10px;
	color: white;
	padding: 0.2em 0.7em;
}

hr {
	border-top: 2px solid #000;
}

h1 hr, hr.h1 {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100px;
}

.vr-black {
	position: absolute;
	border-right: 2px solid black;
	height: 150px;
	width: 94%;
}

.icon-25 {
	display: inline !important;
	height: 25px !important;
	width: 25px !important;
}

.icon-30 {
	display: inline !important;
	height: 30px !important;
	width: 30px !important;
}

.icon-40 {
	display: inline !important;
	height: 40px !important;
	width: 40px !important;
}

.text-green {
	color: #81cc56;
}

.text-blue {
	color: #00ddcf;
}

.text-green-blue {
	background: #81cc56;
	background: linear-gradient(to right, #81cc56 0%, #00ddcf 100%) !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
}

.bg-green {
	background-color: #81cc56;
}

.bg-blue {
	background-color: #00ddcf;
}

.form-control-underline {
	border-width: 0 0 1px 0 !important;
	border-radius: 0 !important;
	min-height: 1em;
}

.btn-rounded {
	border-radius: 1em !important;
}

.table-minimal {
	border-collapse: separate;
	border-spacing: 5px;
	width: auto;
}

.table-minimal tr td {
	border-radius: 0.5em !important;
}

.table-minimal tr:nth-child(2n-1) td {
	background-color: #eee;
}

.table-payments tr td:last-child,
.table-payments tr td:nth-last-child(2) {
	background-color: #fff;
	padding: 0;
}

.flexslider2 {
	position: relative;
	padding: 0 40px;
	min-height: 200px;
}

.flexslider2 .slider-item {
	position: absolute;
	left: -2%;
	top: 50%;
	right: 0;
	width: 104%;
	justify-content: space-between;
}

.flexslider2 .flex-viewport {
	z-index: 1;
}

@media (min-width: 800px) {
	.flexslider2 .slider-item {
		left: 0;
		width: 100%;
	}
}

.flexslider2 .slider-item__bullets {
	visibility: hidden;
}

.flexslider2 a {
	color: white;
}

.flexslider2 a:hover {
	text-decoration: none;
}

.border-green {
	border: 2px #90d06b solid;
}

.underline-green {
	border-bottom: 2px #90d06b solid;
}

.border-green-blue {
	border-color: #90d06b;
	border-image: linear-gradient(to right, #90d06b, #01dacb) 1;
}

.title-underline-green:before {
	border-color: #90d06b;
	border-image: linear-gradient(to right, #90d06b, #01dacb) 1;
}

.text-blue-skyblue {
	background: #0085d9;
	background: linear-gradient(to right, #0085d9 0%, #00c9d2 100%) !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
}

.text-orange-yellow {
	background: #ffb345;
	background: linear-gradient(to right, #ffb345 0%, #ffca44 100%) !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
}

.bg-black {
	background-color: #171717;
}

.btn-pill-dark-green {
	position: relative;
}

.btn-pill-dark-green::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 1000rem;
	border: 2px solid transparent;
	background: linear-gradient(to right, #90d06b, #01dacb) border-box;
	-webkit-mask:
		linear-gradient(#fff 0 0) padding-box, 
		linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
}

.rounded-dark-green {
	position: relative;
}

.rounded-dark-green::before {
	z-index: -1;
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 1em;
	border: 3px solid transparent;
	background: linear-gradient(to right, #90d06b, #01dacb) border-box;
	-webkit-mask:
		linear-gradient(#fff 0 0) padding-box, 
		linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
}

.dropdown-menu-networks {
	text-align: right;
    text-wrap: nowrap;
	padding-left: 30px;
	border-radius: 30px 0 30px 30px;
	background-color: rgba(0, 0, 0, 0.7);
}

.dropdown-menu-networks a {
	display: inline-block;
	margin: 30px 30px 30px 0;
	color: white;
	text-align: center;
}

.dropdown-menu-networks a img {
	width: 100px;
	height: 100px;
}

.mandatory-sticker {
	position: absolute;
	top: 0;
	right: 1em;
	width: 20%;
}