

.p-4-1.rounded-lg.text-center{
  background: #000000 !important;
 /* background: #252525 !important;*/
  border-radius: 1rem !important;
}

.p-5-1.rounded-lg.text-center{
  background: #252525 !important;
 /* background: #252525 !important;*/
  border-radius: 1rem !important;
}

.form-control{
  background: #DDD !important;
}
.form-control.f4, .container.f4{
  background: #F4F4F4 !important;
}
.footer.f25{
  background: #252525 !important;
  padding: 20px 0;
}

.header-wrapper-b {
  background: #F4F4F4;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  min-height: 100px;
  margin-bottom: 20px;
}

.list-deco::before {
  content: "\2022";
  color: #FF6161;
  font-weight: bold;
  display: inline-block;
  width: .5em;
  margin-left: 5px;
  font-size: 24px;
}

hr.hr20{
  width: 40%;
  margin: 5px;
}
hr.hr20b{
  width: 20%;
  margin: 12px 0;
  border: 1px solid #000;
}
hr.hr25{
  border: 1px solid #000;
  margin: 12px 0;
}
.btn-danger.btn-white{
  background-color: #D3E9D7 !important;
  color: #252525 !important;
  font-weight: bolder;
  text-transform: none;
}
.text-verde-pastel{
  color:#D3E9D7;
}
hr.hr26{
  border: 1px solid #f64f56;
  margin: 12px 0;
  width: 15%;
}

.circulo {
  background: #029cdc;
  width: 45px;
  height: 45px;
  border-radius: 30px;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  padding: 5px;
}

.teb {
  font-weight: 400;
}

.textsize{
  font-size: 1rem;
  font-weight: 400;
}

.btn-nube {
  background-color: #029cdc;
  color: white;
}
