@font-face {
    font-display: swap;
    font-style: normal;
    src: url("fonts/AksharRegular.ttf");
    font-family: "Akshar";
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("fonts/AksharSemiBold.ttf");
    font-family: "Akshar";
    font-weight: 600;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("fonts/AksharLight.ttf");
    font-family: "Akshar";
    font-weight: 300;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("fonts/AksharMedium.ttf");
    font-family: "Akshar";
    font-weight: 500;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("fonts/BesleySemiBold.ttf");
    font-family: "Besley";
    font-weight: 600;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("fonts/AksharBold.ttf");
    font-family: "Akshar";
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("fonts/InterRegular.ttf");
    font-family: "Inter";
    font-weight: 400;
}
