/**************************************************************/


/**************************************************************/


/* Media Queries */


/**************************************************************/

@media (min-width: 360px) and (max-width: 915px) {


    .tapa {
        top: 84px;
    }

    .btn-register {
        margin-right: 3rem;
    }


    .register-btn {
        margin-right: 2rem;
    }

    .puntos-animados {
        margin-left: -165.5;
        position: absolute;
        margin-top: -3rem;
    }

    .texto-animado {
        margin-left: -11rem;
        position: absolute;
        margin-top: 0rem;
    }

    .nube-flotante {
        margin-left: 10rem;
    }


    .register-btn {
        margin-left: -2rem;
    }

    .profile-menu {
        right: 10px;
    }


    .bg-container {
        left: -15px;
        width: 107%;
        top: 45px;
    }


    .col-md-2 col-sm-4 col-6 mb-4 d-flex {
        margin-top: 0px;
    }

    .queremos-que-todos {
        margin-top: 18px;
        font-size: 20px;
        line-height: 35px;
        font-weight: 400;

    }

    .margin-title-solution {
        margin-top: 5.8rem;
        margin-bottom: 1.5em;

    }

    .input-group {
        width: 100%;
    }

    .subscribe-title {
        font-size: 40px;
    }

    .subscribe-input {
        font-size: 18px;
    }

    .te-ayudamos-a {
        font-weight: 100;
        font-size: 20px;
        line-height: 36px;
    }

    .btn-susbcribe {
        font-size: 22px;
    }

    .subscribe-title {
        font-size: 30px;
    }

    /*.social-icon-v2 {
        font-size: 2em;
    }*/
    /* Landing de servicios - seccion de Banner */
    .stackcapaone::after {
        width: 450px;
        height: 450px;
        bottom: 450px;
        left: -300px;
    }

    .manchas-azul::before {
        width: 425px;
        height: 610px;
        top: 50px;
        right: -153px;
    }

    .lasolucin {
        font-size: 2.6rem;
    }

    /* ################# Landing Home - seccion de sobre nosotros ################# */

    /*Verde*/
    .circle {
        top: 61;
        left: 22%;
        width: 193;
        height: 162;

    }

    /*Amarillo*/
    .circle-2 {
        top: 21%;
        left: 49%;
        width: 47%;
        height: 46%;
    }

    /*Naranja*/
    .circle-3 {
        top: 51%;
        left: 32%;
        width: 160px;
        height: 95px;
    }

    .ellipse {
        margin-top: 26%;
        left: 33%;
    }

    .ellipse-2 {
        margin-top: -5%;
        left: 70%;
    }

    .ellipse-3 {
        margin-top: -180px;
        left: 37%;
    }

}



/* Estilos para dispositivos extra pequeños (móviles pequeños en modo vertical) */

@media (max-width: 480px) {

    .espacio-banner {
        margin-top: 10rem;
    }

    .profile-menu {
        right: 10px;
    }

    .img-banner-main-random {
        max-width: 111%;
        height: auto;
        margin-top: -62px;
        left: 22px;

    }

    .navbar .collapse {
        width: 100%;
        text-align: center;
    }

    .navbar .navbar-collapse {
        background-color: #ffffff;
        padding: 10px;
    }

    .navbar .navbar-toggler,
    .navbar .navbar-brand,
    .navbar .btn-dark {
        display: flex;
        align-items: center;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-toggler {
        margin-right: auto;
        /* Empuja el botón de hamburguesa hacia la izquierda */
        order: 1;
    }

    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        order: 1;
        bottom: 0;
    }

    .altura {
        margin-top: -3rem;
    }

    .btn-dark {
        order: 2;
    }

    .btn-dark:hover {
        background-color: #C5481C !important;
    }

    .order-menu-hamburger {
        order: 0 !important;
    }

    .para-todos {
        margin-top: -0.5em;
        font-weight: 501;
        font-size: 2.5rem;
        line-height: 49.6px;
        margin-right: 2rem;
    }

    .articulos {
        margin-top: -4rem;
        margin-bottom: -6rem;
    }

    .div-text-about-us {
        margin-top: -7.5rem;
    }


    .movil-only {
        display: block;
    }

    .text-wrapper-27 {
        font-size: 22px;
    }

    .te-ayudamos-a {
        text-align: center;
        line-height: normal;
    }

    /*Seccion ACERCA DE NOSOTROS*/
    .title-about-us {
        margin-top: 4em !important;
    }

    .div-btn-about-us {
        margin-bottom: 15%;
        /*margin-left: -166px;*/
    }

    /*Seccion Contenido*/
    .text-wrapper-21 {
        font-size: 30px;
        margin-top: -2rem;
    }

    .text-wrapper-27 {
        font-size: 20px;
        text-align: center;
        line-height: 25px;
    }

    .carousel-indicators {
        bottom: -10%;
    }

    /* Landing Servicios - Seccion Banner*/
    .lasolucin {
        font-size: 2.6rem;
    }

    /*Pagina de inicio - contenido */
    .carousel-inner .carousel-item img {
        height: 200px;
    }
}


@media (max-width: 550px) {


    .profile-menu {
        right: 10px;
    }

    /*Landing de SERVICIOS  - Banner*/
    .lasolucin {
        font-size: 2.1rem;
    }

    .description-1 {
        font-size: 1.3rem;
    }

    .rowarrowup_one {
        flex-direction: column;
    }

    .main-pigeon {
        width: 215px;
        margin-top: 5rem;
    }

    .pigeon-secondary-left {
        left: 50%;
        top: 10%;
    }

    .pigeon-secondary-right {
        right: 15%;
        top: 10%;
    }
}


/* Estilos para dispositivos pequeños (móviles en modo vertical) */

@media (min-width: 481px) and (max-width: 576px) {



    .profile-menu {
        right: 10px;
    }

    .navbar {
        top: 65px;
    }

    .navbar .nav-link {
        font-size: 13px;
    }

    .navbar .btn-dark {
        font-size: 15px;
    }

    .navbar .navbar-brand img {
        height: 32px;
    }

    .content {
        padding-top: 130px;
    }

    .para-todos {
        margin-top: 0.5em;
    }

    .movil-only {
        display: block;
    }

    .text-wrapper-27 {
        font-size: 22px;
    }

    .te-ayudamos-a {
        text-align: center;
    }

    .title-about-us {
        margin-top: 3em;
    }

    /*-----------------------------------------------------------*/
    /*-------------  Estilos para el Footer ---------------------*/
    .subscribe-title {
        font-size: 30px;
    }

    .te-ayudamos-a {
        font-size: 20px;
    }

    .btn-susbcribe {
        font-size: 22px;
    }

    /*.social-icon-v2 {
        font-size: 2em;
    }*/
    /*-----------------------------------------------------------*/
    /*Seccion ACERCA DE NOSOTROS*/
    .title-about-us {
        margin-top: 3em;
    }

    /* .div-btn-about-us { */
    /*margin-bottom: 15%;*/
    /* } */

    /*-----------------------------------------------------------*/
    /*---------------------- Seccion de contenido ---------------*/
    .text-wrapper-21 {
        font-size: 30px;
    }

    .text-wrapper-27 {
        font-size: 20px;
        text-align: center;
        line-height: 25px;
    }

    .carousel-indicators {
        bottom: -10%;
    }

    /*-----------------------------------------------------------*/
    /*---------------------- Landing de servicios - Banner principal ---------------*/
    /* ################# Landing Home - seccion de sobre nosotros ################# */

    /*Verde*/
    .circle {
        top: 30;
        left: 22%;
        width: 193;
        height: 162;

    }

    /*Amarillo*/
    .circle-2 {
        top: 21%;
        left: 49%;
        width: 47%;
        height: 46%;
    }

    /*Naranja*/
    .circle-3 {
        top: 51%;
        left: 18%;
        width: 192px;
        height: 211px;
    }

    /*-----------------------------------------------------------*/
    /*---------------------- Landing de consultoria - Sección de somos tu aliado estrategico ---------------*/
}




/* Estilos para dispositivos medianos (tabletas y móviles en modo horizontal) */

@media (min-width: 577px) and (max-width: 768px) {



    .profile-menu {
        right: 10px;
    }

    .navbar {
        top: 70px;
    }

    .navbar .nav-link {
        font-size: 14px;
    }

    .navbar .btn-dark {
        font-size: 16px;
    }

    .navbar .navbar-brand img {
        height: 34px;
    }

    .content {
        padding-top: 140px;
    }

    .movil-only {
        display: block;
    }

    .para-todos {
        font-family: "Besley", Helvetica;
        font-weight: 600;
        color: #000000;
        font-size: 2em;
        text-align: center;
        line-height: 30px;
        margin-top: 40px;
    }

    .queremos-que-todos {
        font-family: "Akshar", Helvetica;
        color: #000000;
        font-size: 18px;
        text-align: center;
        line-height: 25px;
    }

    .frame-4,
    .frame-5,
    .frame-6,
    .frame-7 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .subtitle-solution {
        font-size: 18px;
        line-height: 21px;
    }

    .title-about-us {
        margin-top: 3em;
    }

    .main-pigeon {
        width: 200px;
    }

    .banner-title-main {
        font-size: 2rem;
    }

    .description-1 {
        font-size: 1.1rem;
    }

    .number-font-size {
        font-size: 3rem;
    }

    /*----------------------------------------------*/
    /********* Seccion de contenido******************/
    .quote-content {
        font-size: 16px;
        line-height: 20px;
    }

    /*----------------------------------------------*/
    /********* Landing de Servicios - seccion de banner******************/
    .stackcapaone::after {
        width: 450px;
        height: 450px;
        bottom: 450px;
        left: -300px;
    }

    .manchas-azul::before {
        width: 450px;
        height: 450px;
    }

    .pigeon-secondary-left {
        left: 50%;
    }

    .capaone_one,
    .capaone_two {
        width: 75%;
    }

    /*----------------------------------------------*/
    /********* Seccion de somos tu aliado estrategico ******************/
    .text-solutions {
        line-height: 60px;
    }

    .cuadro {
        background-image: url(../images/consulting/bg/bt.png);
        background-size: contain;
    }

    .btn-diagram-1 {
        background-color: #000;
        margin-top: 90px;
        margin-left: 0px;
    }

    .btn-s {
        background-color: #000;
        font-size: 20px;
        width: 45px;
        height: 45px;
    }

}

@media (max-width: 767px) {


    .profile-menu {
        right: 10px;
    }

    .d-md-flex {
        display: none !important;
    }

    .frame-4,
    .frame-5,
    .frame-6,
    .frame-7 {
        padding: 20px 40px;
    }

    /********************** Landing Home - Seccion de nosotros ****************/
    .div-text-about-us {
        margin-bottom: inherit;
    }

    /********************** Secion de Servicios ****************/
    .service-1 {
        background-color: #DFC654;
    }

    .service-2 {
        background-color: #88BCAF;
    }

    .service-3 {
        background-color: #80809D;
    }

    .service-4 {
        background-color: #C5481C;
    }

    .service-5 {
        background-color: #EC6464;
    }

    .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .frame-8 {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: auto;
        text-align: left;
    }

    .frame-8 img {
        width: 38%;
        margin-right: 15px;
        flex-shrink: 0;
        margin-left: -11rem;
    }

    .frame-8 .text-wrapper {
        color: #fff;
        text-align: left;
        margin: 0;
        flex-grow: 1;
        margin-left: 10rem;
        margin-top: 51px;
        position: absolute
    }

    .frame-8 .subtext-wrapper {
        display: none;
    }

    .img-2-service {
        width: 50%;
    }

    .d-md-flex {
        display: none !important;
    }

    .frame-4,
    .frame-5,
    .frame-6,
    .frame-7 {
        padding: 20px 40px;
    }

    /*------------------- Empieza Landing de consultoria ----------------------------- */
    .bg-banner-consulting-v2 {
        background-image: url('../images/consulting/bg/bg-banner-movil.png');
        background-size: cover;
        margin-top: -8rem;
    }

    /* Imágenes flotantes */
    .cofre-img {
        width: 150px;
        max-width: 100%;
        margin-top: 5rem;
    }

    .moneda1 {
        top: 127px;
        left: -90px;
        width: 80px;
        animation-delay: 0s;
        /* Sin retraso */
    }

    .moneda2 {
        top: 119px;
        right: -95px;
        width: 80px;
        animation-delay: 0.5s;
        /* Retraso de 0.5 segundos */
    }

    .tapa {
        top: 84px;
        left: 15%;
        transform: translateX(-50%);
        width: 170px;
        animation-delay: 1s;
        /* Retraso de 1 segundo */
    }


    /*------------------- Termina Landing de consultoria ----------------------------- */
    /********************** Empieza seccion de contacto ********************************/
    .img-ilus-contact {
        width: 100%;
    }

    /********************** Termina seccion de contacto ********************************/

    .cuadro {
        width: 88%;
        height: auto;
        margin: 10px auto;
        margin-bottom: 10px;
        margin-bottom: 120px;
    }

    /* .left-buttons-c {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding-left: 20px;
    }

    .cuadro {
        background-image: url(../images/consulting/bg/bt.png);
        padding: 371px;
        border-radius: 0px;
        color: white;
        text-align: center;
        margin: 20px auto;
        margin-bottom: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 90%;
        height: 100%;
        background-color: #f0f0f0;
        margin-bottom: 160px;
    } */

}




@media (min-width: 768px) {


    .img-ilus-contact {
        margin-top: 8rem;
    }

    .nube-flotante {
        margin-top: 1rem !important;
        margin-left: -16rem;
    }


    .margin-title-solution {
        margin-top: 7.5em;
        margin-bottom: 4rem;
    }

    .social-row {
        margin-left: auto;
        margin-right: auto;
        max-width: 75%;
    }

    /********************** Landing Home - Seccion de nosotros ****************/
    .div-text-about-us {
        /*margin-bottom: inherit;*/
    }

    /**************************** Seccion de SOLUTIONS ********************/
    #solucionesCarousel {
        display: none;
    }

    /******************Lading Home - Seccion de servicios *****************/
    .img-2-service {
        /*width: 90px;
        margin-left: 16px;*/
    }

    /******************Lading Consultoria - Seccion de metodologia *****************/
    .base-image {
        top: 70px;
        left: 158px;
        width: 230px;
        height: 230px;
        z-index: 1;
    }

    .overlay-image {
        top: 85px;
        left: 173px;
        width: 200px;
        height: 200px;
        z-index: 2;
        animation: rotateFlechas 10s linear infinite;
    }

    /********************** Empieza seccion de contacto ********************************/
    .img-ilus-contact {
        width: 114%;
        margin-top: 10rem;
        margin-left: -5rem;
    }

    /********************** Termina seccion de contacto ********************************/


    .culturaf {
        margin-top: 4rem;
    }

    /* Imágenes flotantes */
    .cofre-img {
        width: 150px;
        max-width: 100%;
        margin-top: -5rem;
        margin-bottom: 0rem;
    }



    .moneda1 {
        top: 1rem;
        left: -119px;
        width: 80px;
        animation-delay: 0s;
        /* Sin retraso */
    }

    .moneda2 {
        top: 1rem;
        right: -133px;
        width: 80px;
        animation-delay: 0.5s;
        /* Retraso de 0.5 segundos */
    }

    .tapa {
        top: 1rem;
        left: -6%;
        transform: translateX(-50%);
        width: 170px;
        animation-delay: 1s;
        /* Retraso de 1 segundo */
    }

    .original-title-aboutus {
        margin-top: 3rem;
        font-size: 3.3rem;
        line-height: 1.2;
    }


}

@media (min-width: 810px) and (max-width: 910px) {


    .social-row {
        max-width: 100%;
    }

    .text-wrapper-4 {
        margin-top: 2em;
    }

    .title-about-us {
        margin-top: 3em;
    }

    .div-btn-about-us {
        margin-bottom: 4em;
        margin-left: -159px;
    }

    /********************** Landing Home - Seccion Banner ****************/
    .para-todos {
        font-size: 2.5em;
        line-height: 40.6px;
    }

    .queremos-que-todos {
        font-size: 18px;
        line-height: 25px;
    }

    /********************** Landing Home - Seccion de nosotros ****************/
    .div-text-about-us {
        margin-bottom: inherit;
    }

    /********************* Seccion de soluciones ************************/
    .margin-title-solution {
        margin-top: 2em;
        margin-bottom: 1em;
    }

    .agencia-creativa-de,
    .consultor-a-de,
    .contenidos,
    .academia-online {
        font-size: 17px;
        line-height: 20.4px;
        color: #000000;
    }

    /********************* Seccion de contenido ************************/
    .quote-content {
        font-size: 16px;
        line-height: 20px;
    }

    .para-todos {
        font-size: 2.1em;
        line-height: 35px;
    }

    .queremos-que-todos {
        font-size: 18px;
        line-height: 24px;
    }

    .margin-title-solution {
        margin-top: 2em;
        margin-bottom: 1em;
    }

    .agencia-creativa-de,
    .consultor-a-de,
    .contenidos,
    .academia-online {
        font-size: 17px;
        line-height: 20.4px;
    }

    /********************************************************************************/
    /******************Lading Home - Seccion de servicios *****************/
    .img-2-service {
        width: 90px;
        margin-top: -20px;
    }

    .text-wrapper {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 10px;
        height: 60px;
    }

    /******************Lading Consultoria - Seccion de metodologia *****************/
    .base-image {
        top: 75px;
        left: 220px;
        width: 35%;
        height: 90%;
        z-index: 1;
    }

    .overlay-image {
        top: 91px;
        left: 238px;
        width: 30%;
        height: 75%;
        z-index: 2;
        animation: rotateFlechas 10s linear infinite;
    }


}

/* @media screen and (max-width: 768px) {


    .base-image {
        top: 75px;
        left: 220px;
        width: 35%;
        height: 90%;
        z-index: 1;
    }

    .overlay-image {
        top: 91px;
        left: 238px;
        width: 30%;
        height: 75%;
        z-index: 2;
        animation: rotateFlechas 10s linear infinite;
    }
} */


/* Estilos para dispositivos grandes (pantallas de escritorio pequeñas) */

@media (min-width: 769px) and (max-width: 992px) {


    .profile-menu {
        right: 10px;
    }

    .social-row {
        max-width: 100%;
    }

    .sobre-nosotros {
        margin-left: 46px;
        margin-right: 31px;
    }


    .servicio-lr {
        margin-left: -35px;
        margin-right: -39px;
    }

    .frame-8 {
        padding: 0px;
    }

    .mr-3 {
        margin-left: 2rem !important;
    }

    .ml-3 {
        margin-right: 1rem !important;
    }

    .soluciones-margenes {
        margin-left: -10px;
        margin-right: -29px;
    }

    .navbar {
        top: 45px;
    }

    .navbar .nav-link {
        font-size: 14px;
    }

    .navbar .btn-dark {
        font-size: 16px;
    }

    .navbar .navbar-brand img {
        height: 35px;
    }

    .content {
        padding-top: 150px;
    }

    .navbar-nav {
        text-align: center;
    }

    .navbar-nav .nav-link {
        padding: 15px;
        border-bottom: 1px solid #ccc;
    }

    .navbar-nav .nav-link:last-child {
        border-bottom: none;
    }

    .para-todos {
        margin-top: 0.5em;
    }

    .desktop-only {
        display: block;
    }

    .title-about-us {
        margin-top: 3em;
    }

    /********************** Landing Home - Seccion Banner ****************/

    .subscribe-title {
        font-size: 16px;
    }

    .para-todos {
        font-size: 31px;
        line-height: 40.6px;
        margin-top: -62px;
    }

    .queremos-que-todos {
        font-size: 16.9px;
        line-height: 25px;
    }

    .img-banner-main-random {
        height: 380px;
        max-width: 127%;
    }

    .ellipse,
    .ellipse-2,
    .ellipse-3 {
        width: 120px;
        height: 120px;
    }

    /* landing de servicios Banner*/
    .stackcapaone::after {
        width: 400px;
        height: 400px;
    }

    .manchas-azul::before {
        width: 400px;
        height: 400px;
    }

    .main-pigeon {
        width: 200px;
    }

    .pigeon-secondary-right {
        width: 15%;
        position: absolute;
        right: 10%;
    }

    .pigeon-secondary-left {
        width: 15%;
        left: 50%;
    }

    .banner-title-main {
        font-size: 2rem;
    }

    .description-1 {
        font-size: 1.1rem;
    }

    .number-font-size {
        font-size: 3rem;
    }

    .red-blur-secondary {
        width: 200px;
        height: 300px;
        top: -150px;
        right: 200px;
        transform: translate(50%, 0) rotate(-130deg);
    }

    .red-blur {
        width: 250px;
        height: 400px;
        top: -80px;
        right: 350px;
        transform: translate(50%, 0) rotate(130deg);
    }

    .btn-susbcribe {
        width: 40%;
    }

    /* ################# Landing Home - seccion de sobre nosotros ################# */

    /*Verde*/
    .circle {
        top: 30;
        left: 22%;
        width: 193;
        height: 162;

    }

    /*Amarillo*/
    .circle-2 {
        top: 21%;
        left: 49%;
        width: 47%;
        height: 46%;
    }

    /*Naranja*/
    .circle-3 {
        top: 67%;
        left: 35%;
        width: 228px;
        height: 211px;
    }

    /******************Lading Consultoria - Seccion de metodologia *****************/

    /* Seccion Tarjetas */
    .texto-tarjeta {
        margin-top: 43px;
        font-weight: 600;
        margin-left: -18px;
        font-size: 1.3rem;
    }

    .contenido-tarjeta {
        margin-left: -12px;
        line-height: 1.4;
        margin-top: 20px;
        width: 12rem;
    }

    /* Termina seccion tarjetas  */

    .base-image {
        top: 75px;
        left: 233px;
        width: 230px;
        height: 230px;
        z-index: 1;
    }

    .overlay-image {
        top: 90px;
        left: 248px;
        width: 200px;
        height: 200px;
        z-index: 2;
        animation: rotateFlechas 10s linear infinite;
    }

    .text-solutions {
        font-size: 3.2rem;
        margin-bottom: 5rem;
        margin-top: 5rem;
    }

    .cuadro {
        color: white;
        background-repeat: no-repeat;
        margin-bottom: 160px;
        /*background-position: center;*/
        background-size: contain;
    }

    .btn-diagram-1 {
        background-color: #000;
        margin-top: 180px;
        margin-left: 150px;
    }

    .btn-diagram-2 {
        background-color: #000;
        margin-top: 130px;
        margin-bottom: 245px;
        margin-right: 140px;
    }

    .btn-diagram-3 {
        background-color: #000;
        margin-top: 170px;
        margin-left: 150px;
    }

    .btn-diagram-4 {
        background-color: #000;
        margin-top: 6px;
        margin-bottom: 190px;
        margin-right: 150px;
    }

    .btn-diagram-5 {
        background-color: #000;
        margin-top: 100px;
        margin-left: 270px;
    }

    .text-container {
        top: 228px;
        margin-left: -100px;
        background: #EEEEEE91;
    }


    #text-1 {
        top: -60px;
        margin-left: -100px;
        background: #EEEEEE91;
    }

    #text-4 {
        top: -90px;
        margin-left: 30px;
        background: #EEEEEE91;
    }

    #text-5 {
        top: 1px;
        margin-left: 0px;
        background: #EEEEEE91;
    }

    .diagonal-line1 {
        top: 110px;
        left: 88px;
        width: 180px;
        transform: rotate(-90deg);
    }

    .diagonal-line2 {
        top: 240px;
        left: 138px;
        width: 80px;
        transform: rotate(-90deg);
    }

    .diagonal-line4 {
        top: 55px;
        left: -27px;
        width: 140px;
        transform: rotate(-90deg);
    }

    .diagonal-line5 {
        top: 56px;
        left: -15px;
        width: 56px;
        transform: rotate(-90deg);
    }

    /******************* Seccion contacto *********************/

    .parrafo-banner {
        font-size: 2.4rem;
    }

    .img-ilus-contact {
        margin-top: 17rem;
        width: 115%;
    }

    .nube-flotante {
        margin-top: 1rem !important;
        margin-left: -14rem;
    }


    /* Imágenes flotantes */
    .cofre-img {
        width: 150px;
        max-width: 100%;
        margin-top: 1rem;
        margin-bottom: -1rem;
    }

    .moneda1 {
        top: 50px;
        left: -124px;
        width: 80px;
        animation-delay: 0s;
        /* Sin retraso */
    }

    .moneda2 {
        top: 39px;
        right: -95px;
        width: 80px;
        animation-delay: 0.5s;
        margin-right: -3rem;
        /* Retraso de 0.5 segundos */
    }

    .tapa {
        top: 24px;
        left: 15%;
        transform: translateX(-50%);
        width: 170px;
        animation-delay: 1s;
        /* Retraso de 1 segundo */
    }

}



@media (min-width: 993px) and (max-width: 1024px) {
    .overlay-image {
        position: absolute;
        top: 87px;
        left: 133px;
        width: 40%;
        height: 75%;
        z-index: 2;
        animation: rotateFlechas 10s linear infinite;
    }

    .base-image {
        position: absolute;
        top: 75px;
        left: 118px;
        width: 47%;
        height: 85%;
        z-index: 1;
    }

    /* Imágenes flotantes */
    .cofre-img {
        width: 150px;
        max-width: 100%;
        margin-top: 5rem;
    }

    .moneda1 {
        top: 127px;
        left: -90px;
        width: 80px;
        animation-delay: 0s;
        /* Sin retraso */
    }

    .moneda2 {
        top: 119px;
        right: -95px;
        width: 80px;
        animation-delay: 0.5s;
        /* Retraso de 0.5 segundos */
    }

    .tapa {
        top: 84px;
        left: 15%;
        transform: translateX(-50%);
        width: 170px;
        animation-delay: 1s;
        /* Retraso de 1 segundo */
    }

}

@media (min-width: 1200px) and (max-width: 1025px) {
    .overlay-image {
        position: absolute;
        top: 89px;
        left: 135px;
        width: 39%;
        height: 75%;
        z-index: 2;
        animation: rotateFlechas 10s linear infinite;
    }

    .base-image {
        position: absolute;
        top: 75px;
        left: 122px;
        width: 45%;
        height: 90%;
        z-index: 1;
    }
}




@media (max-width: 1050px) {

    /*Landing de SERVICIOS  - Banner*/
    .social-row {
        max-width: 100%;
    }

    .stackcapaone {
        height: auto;
        margin-top: -2rem;
    }

    .lasolucin,
    .description-1 {
        width: 100%;
        /*margin-left: 0;*/
    }

    .capaone_one,
    .capaone_two {
        width: 100%;
        height: auto;
    }

    .image {
        width: 100%;
        margin-left: 0;
    }

    .arrowup_one {
        width: 100%;
        margin-left: 0;
    }

    /********************** Empieza seccion de contacto ********************************/

    .img-ilus-contact {
        margin-left: -2rem;
    }

    .parrafo-banner {
        font-size: 2.5rem;
    }


    /********************** Termina seccion de contacto ********************************/
}




/* Estilos para dispositivos extra grandes (pantallas de escritorio grandes) */

@media (min-width: 1200px) and (max-width: 720px) {
    .navbar {
        top: 45px;
    }

    .navbar .nav-link {
        font-size: 14px;
    }

    .navbar .btn-dark {
        font-size: 16px;
    }

    .navbar .navbar-brand img {
        height: 35px;
    }

    .social-row {
        max-width: 100%;
    }


    .content {
        padding-top: 150px;
    }

    .desktop-only {
        display: block;
    }

    .subtitle-solution {
        font-size: 20px;
    }

    .para-todos {
        font-size: 3em;
        line-height: 57.6px;
        margin-top: 48px;
    }

    .main-pigeon {
        width: 200px;
    }

    .banner-title-main {
        font-size: 2rem;
    }

    .description-1 {
        font-size: 1.1rem;
    }

    /* ################# Landing Home - seccion de sobre nosotros ################# */

    .circle {
        /*Verde*/
        top: 30%;
        left: 22%;
        width: 193;
        height: 162;

    }

    .circle-2 {
        /*Amarillo*/
        top: 12%;
        left: 52%;
        width: 47%;
        height: 46%;

    }

    .circle-3 {
        /*Naranja*/
        top: 61%;
        left: 30%;
        width: 165px;
        height: 194px;
    }

    /* ################# Landing Consultoria - seccion de metodologia ################# */
    .base-image {
        /*
        top: 70px;
        left: 155px;
        width: 230px;
        height: 230px;
        */
        display: none;
    }

    .overlay-image {
        /*
        top: 85px;
        left: 170px;
        width: 200px;
        height: 200px;
        animation: rotateFlechas 10s linear infinite;
        */
        display: none;
    }

    /********************** Empieza seccion de contacto ********************************/
    .img-ilus-contact {
        width: 100%;
        margin-top: 13rem;
    }

    /********************** Termina seccion de contacto ********************************/
}






/* Estilos para dispositivos ultra grandes (pantallas de escritorio muy grandes) */

@media (min-width: 1201px) and (max-width: 1440px) {

    .img-2-service {
        /*width: 167px;
        margin-left: 3px;*/
    }


    .social-row {
        max-width: 100%;
    }


    .text-wrapper-21 {
        margin-left: -10px;
    }

    .ml-3 {
        margin-right: -3rem !important;
    }

    .mr-3 {
        margin-left: -3rem !important;
    }

    .margin-title-solution {
        margin-top: 8.5rem;
        margin-bottom: 4rem;
    }

    .boton-conoce-servicios {
        margin-left: -2rem;
    }

    .navbar {
        top: 45px;
    }

    .navbar .nav-link {
        font-size: 14px;
    }

    .navbar .btn-dark {
        font-size: 16px;
    }

    .navbar .navbar-brand img {
        height: 35px;
        /*margin-left: -40px;*/
    }

    /* ################# Estilos para landing Home ################# */
    .content {
        padding-top: 150px;
    }

    .desktop-only {
        display: block;
    }

    .subtitle-solution {
        font-size: 20px;
    }

    .para-todos {
        font-size: 2.8em;
        line-height: 62px;
        margin-top: 8rem;
        margin-left: -1rem !important;
    }

    .marcas-que-han {
        margin-top: -1rem;
    }

    .soluciones-home {
        /* margin-left: -5.5rem;
        margin-right: -6.5rem; */
        margin-bottom: -3rem;
    }

    .queremos-que-todos {
        margin-left: -2rem;
        font-size: 27px;
    }

    /* .text-md-left{
        margin-left: -74px;
    } */

    .img-banner-main-random {
        margin-top: 48px;
    }

    .position-relative {
        height: auto;
    }

    .col-12 col-md-5 {
        margin-top: 674px;
    }

    /* ################# Estilos para landing de Servicios ################# */

    .subtext-wrapper {
        font-size: 14px;
        font-weight: 400;
    }

    .frame-8 {
        padding: 27px;
    }

    .servicio-lr {
        /*margin-left: -127px;
        margin-right: -100px;*/
        margin-top: 2rem;
    }

    .soluciones-margenes {
        margin-left: -105px;
        margin-right: -101px;
    }

    .mespecialistas {
        /*margin-right: -4rem;*/
    }

    .facademia {
        margin-top: -2rem;
    }

    .pacademia {
        margin-top: -2rem;
    }

    .main-pigeon {
        width: 200px;
        margin-top: 9.5rem;
    }

    .banner-title-main {
        font-size: 2.5rem;
        margin-bottom: 2rem
    }

    .btn-custom {
        margin-left: 12rem;
    }

    .description-1 {
        font-size: 1.5rem;
        /*margin-left: 20%;
        margin-right: 20%;*/
    }

    .content-image img {
        margin-right: -11rem;
    }

    /* ################# Landing Home - seccion de contenido ################# */
    .text-wrapper-26 {
        font-size: 18px;
        text-align: center;
        line-height: 22px;
    }

    /* ################# Landing Home - seccion de sobre nosotros ################# */


    .circle {
        /*Verde*/
        top: 30%;
        left: 22%;
        width: 193;
        height: 162;

    }

    .circle-2 {
        /*Amarillo*/
        top: 12%;
        left: 52%;
        width: 26%;
        height: 46%;

    }

    .circle-3 {
        /*Naranja*/
        top: 61%;
        left: 30%;
        width: 270px;
        height: 119px;
    }

    /* Seccion de Footer */

    .sobre-nosotros {
        margin-left: -34px;
        margin-right: -31px;
    }

    .subscribe-title {
        font-size: 24px;

    }

    /* ################# Landing Consultoria - seccion de metodologia ################# */
    .base-image {
        top: 70px;
        left: 155px;
        width: 230px;
        height: 230px;
    }

    .overlay-image {
        top: 85px;
        left: 170px;
        width: 200px;
        height: 200px;
        animation: rotateFlechas 10s linear infinite;
    }

    /********************** Empieza seccion de contacto ********************************/
    .img-ilus-contact {
        width: 90%;
        margin-top: 11rem;
        margin-left: 2rem;
    }

    /********************** Termina seccion de contacto ********************************/
}



/* Seccion Footer */





/* Estilos para dispositivos ultra extra grandes (pantallas de escritorio ultra grandes) */

@media (min-width: 1441px) and (max-width: 1992px) {

    .facademia {
        margin-top: -2rem;
    }

    .pacademia {
        margin-top: -2rem;
        margin-bottom: 1rem;
    }

    .nube-flotante {
        margin-left: -18rem;
        position: relative;
    }

    .margen-boton {
        margin-left: -88px;
    }

    .social-row {
        max-width: 100%;
    }

    .ml-3 {
        margin-right: -2rem !important;
    }

    .mr-3 {
        margin-left: -3rem !important;
    }

    .img-2-service {
        /*width: 167px;
        margin-left: 3px;*/
    }

    .frame-8 {
        padding: 28px;
    }

    .servicio-lr {
        margin-left: -8rem;
        margin-right: -8rem;
    }

    /* .position-relative{
        height: 555px;
    } */

    .navbar {
        top: 45px;
    }

    .navbar .nav-link {
        font-size: 15px;
    }

    .navbar .btn-dark {
        font-size: 17px;
    }

    .navbar .navbar-brand img {
        height: 36px;
        /*margin-left: -2rem;*/
    }

    .content {
        padding-top: 160px;
    }

    .desktop-only {
        display: block;
    }

    .subtitle-solution {
        font-size: 20px;
        margin-top: 20;
    }

    .queremos-que-todos {
        margin-left: -2.4rem;
    }

    .boton-conoce-servicios {
        margin-left: 2.1rem;
    }

    .para-todos {
        font-size: 3.3rem;
        line-height: 62px;
        margin-top: 200px;
        margin-left: -1rem !important;
    }

    .subscribe-title {
        font-size: 25px;
    }

    .img-banner-main-random {
        margin-top: 48px;
        margin-left: 10rem;
    }

    .margin-title-solution {
        margin-top: 6.4em;
        margin-bottom: 6rem;
    }

    .ellipse,
    .ellipse-2,
    .ellipse-3 {
        margin-left: 7rem;
    }

    /* ################# Landing Home - seccion de sobre nosotros ################# */

    .circle {
        /*Verde*/
        top: 30%;
        left: 22%;
        width: 193;
        height: 162;

    }

    .circle-2 {
        /*Amarillo*/
        top: 12%;
        left: 40%;
        width: 47%;
        height: 46%;

    }

    .circle-3 {
        /*Naranja*/
        top: 61%;
        left: 30%;
        width: 165px;
        height: 194px;
    }

    /* ################# Landing Consultoria - seccion de metodologia ################# */
    .base-image {
        top: 70px;
        left: 155px;
        width: 230px;
        height: 230px;
    }

    .overlay-image {
        top: 85px;
        left: 170px;
        width: 200px;
        height: 200px;
        animation: rotateFlechas 10s linear infinite;
    }

    /********************** Empieza seccion de contacto ********************************/
    .img-ilus-contact {
        width: 93%;
        margin-top: 10rem;
        margin-left: -1rem;
    }

    /********************** Termina seccion de contacto ********************************/
}



@media only screen and (min-width: 3840px) {
    .margen-boton {
        margin-left: -88px;
    }

    .social-row {
        max-width: 100%;
    }

    .ml-3 {
        margin-right: -2rem !important;
    }

    .mr-3 {
        margin-left: -3rem !important;
    }

    .img-2-service {
        width: 167px;
        margin-left: 3px;
    }

    .frame-8 {
        padding: 28px;
    }

    .servicio-lr {
        margin-left: -169px;
        margin-right: -123px;
    }

    .position-relative {
        height: 555px;
    }

    .navbar {
        top: 45px;
    }

    .navbar .nav-link {
        font-size: 15px;
    }

    .navbar .btn-dark {
        font-size: 17px;
        margin-left: 80px;
    }

    .navbar .navbar-brand img {
        height: 36px;
        /*margin-left: -45px;*/
    }

    .content {
        padding-top: 160px;
    }

    .desktop-only {
        display: block;
    }

    .subtitle-solution {
        font-size: 20px;
        margin-top: 20;
    }

    .queremos-que-todos {
        margin-left: -74px;
        font-size: 27px;
    }

    .para-todos {
        font-size: 3.3rem;
        line-height: 62px;
        margin-top: 78px;
        margin-left: -55px !important;
    }

    .subscribe-title {
        font-size: 25px;
    }

    .img-banner-main-random {
        margin-top: 48px;
        margin-left: 40px;
    }

    .margin-title-solution {
        margin-top: 4.5em;
    }

    /* ################# Landing Home - seccion de sobre nosotros ################# */

    .circle {
        /*Verde*/
        top: 30%;
        left: 22%;
        width: 193;
        height: 162;

    }

    .circle-2 {
        /*Amarillo*/
        top: 12%;
        left: 40%;
        width: 47%;
        height: 46%;

    }

    .circle-3 {
        /*Naranja*/
        top: 61%;
        left: 30%;
        width: 165px;
        height: 194px;
    }

    /* ################# Landing Consultoria - seccion de metodologia ################# */
    .base-image {
        top: 70px;
        left: 155px;
        width: 230px;
        height: 230px;
    }

    .overlay-image {
        top: 85px;
        left: 170px;
        width: 200px;
        height: 200px;
        animation: rotateFlechas 10s linear infinite;
    }

    .social-row {
        max-width: 100%;
    }

    /********************** Empieza seccion de contacto ********************************/
    .img-ilus-contact {
        width: 90%;
        margin-top: 11rem;
        margin-left: 2rem;
    }

    /********************** Termina seccion de contacto ********************************/
}




/************************************************************************************/

/****************************************Aquí empieza consulting***************************************/



@media (min-width: 360px) and (max-width: 480px) {

    .nube-flotante {
        margin-left: -13rem;
        position: absolute;
    }

    .profile-menu {
        right: 10px;
    }

    /* Ocultar el H1 original */
    .original-heading {
        display: none;
    }

    .img-ilus-contact {
        margin-top: 10rem;
    }

    /* Mostrar el H1 alternativo */
    .alternative-heading {
        display: block;
    }

    /* Ocultar el párrafo original */
    .original-paragraph {
        display: none;
    }

    /* Mostrar el párrafo alternativo */
    .alternative-paragraph {
        display: block;
        font-size: 21px;
    }

    .cultura-mobil {
        display: block;
    }

    .cultura-der {
        display: block;
        margin-left: 269px;
        margin-bottom: -136px;
        margin-top: -144px;
    }

    .cultura-izq {
        display: block;
        margin-left: -30px;
    }

    /* Seccion Banner */
    .responsive-container {
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Ajustes para la imagen de la cultura financiera */
    .cultura-img {
        margin-bottom: 0;
        width: 80%;
        /* Ajusta la imagen al 80% del ancho */
        max-width: 400px;
        display: none;
    }

    /* Título principal */
    .main-solution-title {
        font-size: 2.5rem;
        margin-top: 20px !important;
        font-size: 47px;
        /*width: 25rem;*/
        /*margin-left: -29px;*/
        margin-top: 4rem !important;
    }

    /* Botón contáctanos */
    .btn-learn {
        margin-top: 20px !important;
        left: 0;
        top: 0;
        margin-bottom: 20px;
    }

    /* Contenedor de la imagen y el contenido */
    .image-container {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .base-image,
    .overlay-image {
        width: 100%;
        height: auto;
    }

    /* Flechas */
    .overlay-image {
        top: 0;
        left: 0;
        width: 80%;
        margin: auto;
    }

    /* Contenido a la izquierda */
    .left-content {
        position: relative;
        left: 0;
        top: 0;
        transform: none;
        max-width: 100%;
        text-align: center;
        /* Centra el texto en pantallas pequeñas */
        margin: 20px 0;
    }

    .left-content-m {
        font-size: 1.3rem;
        width: auto;
        margin-left: 0;
        text-align: center;
    }

    /* Ajustes de las marcas */
    .yellow-mark::before,
    .red-mark {
        width: 300px;
        /* Reduce el tamaño de las marcas */
        height: 300px;
        filter: blur(50px);
    }

    .yellow-mark::before {
        top: 200px;
        right: 10px;
    }

    .red-mark {
        top: -150px;
        left: -300px;
    }

    /* Título secundario */
    .segundot {
        font-size: 2.3rem;
        margin-left: 0;
        width: 100%;
        text-align: center;
        font-weight: 700;
        margin-top: -1rem !important;
    }

    .margenes {
        margin-left: -5rem;
        margin-right: -5rem;
    }


        .top {
            margin-top: 1rem;
        }

        /* ----------------------------------Sección ilustración giratoria -------------------------------------------------- */
        .fondo-circulo {
            /* margin-top: 50px; */
            width: 265px;
            display: block;
            margin: auto;
        }

        .base-image {
            position: absolute;
            top: 0;
            left: 30%;
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        .base-image, .overlay-image {
            width: 40%;
            height: auto;
        }

        .overlay-image {
            top: 11px;
            left: 33%;
            width: 34%;
            margin: auto;
        }

        /************************************************Seccion solutions***********************************************/

        .mobil-solutions {
            color: #000000;
            text-align: center;
            line-height: 1.4;
            /*margin-left: 20px;*/
            font-size: 21px;
            font-family: "Akshar", Helvetica;
            width: 18rem;
            margin-bottom: 10px;
        }

    .solutions {
        margin-top: -5rem;
        height: auto;
        /* Ajustar altura según el contenido */
        padding: 20px;
        /*margin-left: -47px;
        width: 25rem;*/
        }

        .cuadro {
            width: 88%;
            /* Ajustar ancho del cuadro */
            height: auto;
            /* Ajustar altura según el contenido */
            margin: 10px auto;
            margin-bottom: 120px;
        }

        .btn-s {
            font-size: 1rem;
            width: 50px;
            height: 40px;
            margin: 5px 0;
        }

        .left-buttons-c,
        .right-buttons-c {
            justify-content: space-between;
            gap: 5px;
            padding-left: 10px;
            /* Reducir padding izquierdo */
            padding-right: 10px;
            /* Reducir padding derecho */
            margin-top: 126px;
        }

        .btn-wrapper {
            margin-bottom: 15px;
            /* Reducir margen inferior */
        }

        .text-container {
            position: relative;
            /* Cambiar posición a relativa */
            top: 0;
            margin-left: 0;
            width: 100%;
            /* Hacer que ocupe casi todo el ancho */
            text-align: center;
            /* Centrar texto */
            display: none;
            /* Asegurar que los textos se ocultan inicialmente */
        }

        .custom-title {
            font-size: 1.2rem;
            text-align: center;
        }

        .description-s {
            font-size: 1rem;
            margin-bottom: 20px;
            transform: translateX(0);
            text-align: justify;
            /* Mejor alineación */
        }

        .text-solutions {
            font-size: 2.2rem;
            line-height: 1.2;
            white-space: normal;
            margin-bottom: 20px;
        }

        .diagonal-line {
            display: none;
            /* Ocultar líneas diagonales */
        }

        .content {
            margin-top: -46rem;
            margin-bottom: -86px;
        }

        /*.form-control {
        width: 100%;
        margin-bottom: 10px;
    }*/

        .captcha-section {
            flex-direction: column;
            text-align: center;
        }

        .captcha-izquierda {
            margin-bottom: 56px;
            margin-left: 85px;
            margin-top: -34px;
            width: 191px;
            height: 61px;
        }

        .imagen-cap {
            display: block;
            margin: 0 auto;
            margin-top: -23px;
            margin-left: 118px;
        }

        .text-cap-derecha {
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 10px;
            margin-top: -18px;
            margin-left: 38px;
        }

        .btn-custom {
            width: 100%;
            /* Botón ocupa todo el ancho */
            padding: 10px;
            font-size: 16px;
            margin-left: -0.5rem;
        }

        .flecha {
            margin-left: 2px;
            width: 12px;
        }

        /* Seccion de botones circulares */
        .btn-s {
            display: none;
            /* Ocultar botones actuales */
            height: 200px;
        }

        .cuadro {
            box-shadow: none;
            margin-top: 3rem;
        }

        .circular-btn {
            display: inline-flex;
            /* Mostrar botones circulares */
            justify-content: center;
            align-items: center;
            background-color: #000;
            color: #fff;
            border-radius: 50%;
            /* Hacerlos circulares */
            width: 50px;
            height: 50px;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            border: none;
            /* Sin borde adicional */
            margin: 5px;
            cursor: pointer;
        }

        .circular-btn.btn-circular-1 {
            position: absolute;
            top: 1741px;
            left: 50px;
            margin: 0px;
            width: 32px;
            height: 32px;
        }

        .circular-btn.btn-circular-2 {
            position: absolute;
            top: 1741px;
            left: 330px;
            margin: 0px;
            width: 32px;
            height: 32px;
        }

        .circular-btn.btn-circular-3 {
            position: absolute;
            top: 1855px;
            left: 50px;
            margin: 0px;
            width: 32px;
            height: 32px;
        }

        .circular-btn.btn-circular-4 {
            position: absolute;
            top: 1855px;
            left: 330px;
            margin: 0px;
            width: 32px;
            height: 31px;
        }

        .circular-btn.btn-circular-5 {
            position: absolute;
            top: 2001px;
            left: 160px;
            margin: 0px;
            width: 32px;
            height: 32px;
        }

        /* Aquí empieza la sección de botones circulares */

        /************************** seccion about us **********************************/

        .framecolor-4,
        .framecolor-5,
        .framecolor-6,
        .framecolor-7,
        .framecolor-8,
        .framecolor-9 {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #D94D00;
            color: #ffffff !important;
            padding: 20px;
            transition: background-color 0.3s ease;
            justify-content: space-between;
            height: 100%;
            /*margin: auto;*/
            height: 200px;
            width: 370px;
            align-items: center;
            justify-content: center;
        }

        .original-title-aboutus {
            display: none !important;

        }

    .alternative-title-aboutus {
        display: block !important;
        font-size: 2.2rem;
        /*width: 25rem;
        margin-left: -86px;*/
        margin-top: 4rem;
        line-height: 49px;
        margin-bottom: 5rem;
    }

        .contenido-tarjeta {
            margin-left: 11px;
        }

        .texto-tarjeta {
            margin-left: 7px;
        }

        .red-mark-aboutus {
            display: none;
        }

        /***************************************seccion content****************************************/
        .text-formulario {
            text-align: center;
            font-size: 36px;
            font-family: "Akshar", Helvetica;
            font-weight: 500;
            margin-top: -10rem;
        }

        .text-end {
            text-align: right;
            width: 180px;
            margin: 82px;
        }

        /* .form-check-label {

        /*margin-top: 15px;*/
        /*margin-left: -55px;*/
        /* } */

        /* .form-check-input {
        margin-left: -83px;
    } */

        /******************************************Seccion Services***************************/
        .benefit-card h3 {

            font-size: 23px;
            font-weight: bold;
            color: #000;
            font-family: "Besley";
            line-height: 2rem;
            margin-bottom: 2.8rem;
            margin-top: 25px;
            font-weight: 700;
            font-style: italic;

        }
    }

    @media (min-width: 360px) and (max-width: 375px) {


        .profile-menu {
            right: 10px;
        }

        .circular-btn.btn-circular-1 {
            top: 1848px;
            left: 50px;
        }

        .circular-btn.btn-circular-2 {
            top: 1848px;
            left: 285px;
        }

        .circular-btn.btn-circular-3 {
            top: 1973px;
            left: 50px;
        }

        .circular-btn.btn-circular-4 {
            top: 1967px;
            left: 285px;
        }

    .circular-btn.btn-circular-5 {
        top: 2104px;
        left: 165px;
    }

}
