.btn-white {
  background-color: white;

  &:hover {
    background-color: $brand-primary;
    color: $brand-danger;
  }
}

.btn-dark {
  background-color: $brand-primary;
  color: white;

  &:hover {
    background-color: white;
    color: $brand-danger;
  }
}

.btn-danger {
  background-color: $brand-danger;
  color: white;

  &:hover, &:focus, &:active, &:visited {
    background-color: $brand-danger !important;
    color: white;
  }
}

.btn-facebook {
  background-color: $brand-facebook;
  background-image: url('/images/facebook-light.svg');
  background-position: 20px 11px;
  background-repeat: no-repeat;
  background-size: 8px;
  position: relative;

  &:hover {
    background-color: $brand-facebook-dark;
  }

  * {
    color: white;
    padding-left: 10px;
  }
}

.btn-pill {
  border-radius: 1000em;
}

.btn-square {
  border-radius: 0;
}

.btn-xl {
  font-size: 1rem !important;
  padding: 22px 70px !important;
}

.btn {
  border: none;
  font-weight: 500;
  cursor: pointer;
  padding: 15px 40px;
  text-transform: uppercase;
  @extend .text-xsmall;
}

.btn, button {
  cursor: pointer;
}

.btn-no-label {
  margin-top: 32px;
}
