.videos__list {

  li {
    @include media-breakpoint-up(lg) {
      margin: 0 !important;
    }
    @include media-breakpoint-down(md) {
      margin: 10px 0 !important;
    }
  }

  li:not(:first-of-type) a {
    @include media-breakpoint-up(lg) {
      border-left: 1px solid $brand-danger;
    }
  }

  a {
    @include media-breakpoint-up(xl) {
      padding: 10px 20px;
    }
    @include media-breakpoint-only(lg) {
      padding: 10px;
    }
    @include media-breakpoint-down(md) {
      padding: 10px 30px;
    }

    &.active {
      color: $brand-danger !important;
    }
  }
}

.education__list--objective, .education__list--itinerary {
  margin: 0;
  padding: 0;
  @include media-breakpoint-down(sm) {
    list-style: none;
    margin-top: $spacer;
  }

  li {
    padding: $spacer * 1.2 0;
    @include media-breakpoint-up(lg) {
      font-size: $font-size-large + .15;
    }
    @include media-breakpoint-down(sm) {
      font-size: $font-size-base;
    }
  }
}

.education__list--itinerary {
  list-style: none;
}

.education__list--objective li:not(:first-of-type) {
  border-top: 1px solid $brand-danger;
}

.education__list--itinerary li:not(:first-of-type) {
  border-top: 1px solid $brand-danger-dark;
}

.education--list {
  @include media-breakpoint-up(sm) {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  li {
    @include media-breakpoint-up(md) {
      padding: $spacer / 1.5 0;
    }
    @include media-breakpoint-down(xs) {
      display: block !important;
      margin: 0 !important;
    }

    &.active span {
      color: $brand-danger;
    }
  }

  li:not(:first-of-type) {
    @include media-breakpoint-up(sm) {
      border-left: 1px solid black;
    }
    @include media-breakpoint-down(xs) {
      border-top: 1px solid black;
    }
  }

  a {
    color: black;
    @include media-breakpoint-up(lg) {
      padding: $spacer $spacer * 2;
    }
    @include media-breakpoint-only(md) {
      padding: $spacer $spacer / 1.7;
    }
    @include media-breakpoint-only(sm) {
      display: block;
      padding: $spacer / 2 $spacer;

      span {
        display: block;
      }
    }
    @include media-breakpoint-down(xs) {
      display: block;
      font-size: $font-size-small;
      padding: $spacer / 2 $spacer / 2;

      span {
        display: block;
      }
    }
  }
}
