/*=========== TABLE OF CONTENTS ===========
1. CSS Variables
2. Utility CSS
==========================================*/


/*-------------------------------------
  1. CSS Variables
--------------------------------------*/

:root {
    /*------Color variables------*/
    --black_900: #000000;
    --black_900_3f: #0000003f;
    --blue_gray_300: #88bcaf;
    --deep_orange_800: #c5481c;
    --gray_100: #f2f2f2;
    --gray_200: #ededed;
    --gray_200_ee: #eeeeeeee;
    --lime_400: #dfc654;
    --red_300: #ec6464;
    --white_a700: #ffffff;
    /*------Shadow variables------*/
    --shadow-xs: 0 4px 4px 0 #0000003f;
    /*------Border radius variables------*/
    --radius-xs: 66px;
    /*------Spacing variables------*/
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 10px;
    --space-lg: 16px;
    --space-xl: 20px;
    --space-2xl: 24px;
}


/*-------------------------------------
  2. Utility CSS
--------------------------------------*/


/*
.flex-row-center-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
*/


/*=========== TABLE OF CONTENTS ===========
1. Text CSS
2. Heading CSS
3. Container CSS
==========================================*/


/*-------------------------------------
  1. Text CSS
--------------------------------------*/

.ui.text.size-textxs {
    font-size: 14px;
    font-weight: 300;
    font-style: bold;
}

.ui.text.size-texts {
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
}

.ui.text.size-textmd {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.ui.text.size-textlg {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.ui.text.size-textxl {
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
}

.ui.text.size-text2xl {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;

    @media only screen and (max-width: 1050px) {
        font-size: 22px;
    }
}

.ui.text {
    color: var(--white_a700);
    font-family: Akshar;
}


/*-------------------------------------
2. Heading CSS
--------------------------------------*/

.ui.heading.size-text3xl {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 1rem;
    font-style: bold;

    @media only screen and (max-width: 1050px) {
        font-size: 38px;
    }

    @media only screen and (max-width: 550px) {
        font-size: 36px;
    }
}

.ui.heading.size-headingxs {
    font-size: 23px;
    font-weight: 600;
    font-style: bold;

    @media only screen and (max-width: 1050px) {
        font-size: 21px;
    }
}

.ui.heading.size-headings {
    font-size: 48px;
    font-weight: 600;
    font-style: bold;

    @media only screen and (max-width: 1050px) {
        font-size: 44px;
    }

    @media only screen and (max-width: 550px) {
        font-size: 38px;
    }
}

.ui.heading.size-headingmd {
    font-size: 80px;
    font-weight: 700;
    font-style: bold;

    @media only screen and (max-width: 1050px) {
        font-size: 48px;
    }
}

.ui.heading {
    color: var(--white_a700);
    font-family: Akshar;
}


/*-------------------------------------
3. Container CSS
--------------------------------------*/

.container-xs {
    max-width: 1292px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


/*-------------------
---------------------*/

#appV2 {
    min-height: 80vh;
    padding-top: 80px;
    background-color: #F5F5F5;
}


/* ############ EMPIEZA BANNER DE LANDING SERVICIOS*/

.stackcapaone {
    height: auto;
    position: relative;
    background-color: #f5f5f5;
    overflow: hidden;
}

.stackcapaone::before,
.stackcapaone::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}


/* Mancha amarilla en la parte inferior izquierda */

.stackcapaone::after {
    width: 550px;
    height: 550px;
    background-color: rgb(223 198 84);
    bottom: 450px;
    left: -50px;
    box-shadow: 0 0 100px rgba(255, 255, 0, 0.3);
    border-radius: 60%;
    filter: blur(80px);
    transform: rotate(45deg);
}


/* Mancha azul en la parte superior derecha */

.manchas-azul::before {
    content: '';
    position: absolute;
    width: 650px;
    height: 650px;
    background-color: rgb(136 188 175);
    top: 50px;
    right: -100px;
    border-radius: 50%;
    box-shadow: 0 0 100px rgba(0, 0, 255, 0.3);
    z-index: 1;
    border-radius: 60%;
    filter: blur(80px);
    transform: rotate(45deg);
}

.columncapaone {
    top: 4%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.vectorseven_one,
.vectoreight_one {
    width: 100%;
    object-fit: contain;
    border-radius: var(--radius-xs);
}

.lasolucin {
    color: var(--black_900);
    font-family: Besley, serif;
    text-align: center;
    width: 100%;
    line-height: 1.2;
    margin-top: 118px;
    margin-left: 0;
}

.eye_one {
    height: 64px;
    z-index: 7;
    width: 5%;
    left: 36%;
    top: 15%;
    object-fit: contain;
    position: absolute;
}

.capaone_one,
.capaone_two {
    height: auto;
    width: 25%;
    position: absolute;
    object-fit: contain;
}

.image {
    height: auto;
    margin-left: 0;
    width: 40%;
    object-fit: cover;
    z-index: 2;
}

.pigeon-secondary-right {
    width: 25%;
    position: absolute;
    right: 20%;
}

.pigeon-secondary-left {
    width: 25%;
    position: absolute;
    left: 20%;
}

.capaone_one {
    animation: moveUpDown 3s ease-in-out infinite;
}

.capaone_two {
    animation: moveUpDown 3s ease-in-out infinite;
}

.arrowup_one {
    height: 78px;
    margin-bottom: 70px;
    width: 14%;
}

.rowarrowup_one {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-pigeon {
    width: 245px;
    z-index: 2;
    margin-top: 10rem;
}

.banner-title-main {
    font-size: 3.3rem;
    font-family: "Besley", Helvetica;
}

.description-1 {
    color: var(--black_900);
    margin-bottom: 248px;
    text-align: center;
    line-height: 1.4;
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.5rem;
    font-family: "Akshar", Helvetica;
    /* Centrado */
}

.btn-learn-more {
    font-family: "Akshar", Helvetica;
}

.btn-learn-more:hover {
    background-color: #c5481c !important;
}

.number-font-size {
    font-size: 4rem;
    font-family: "Akshar", Helvetica;
    font-style: normal;
}

.altura {
    margin-top: 2rem;
}

.display-4 {
    font-size: 2.2rem;
    margin-top: 2rem;
}

.text-muted {
    font-size: 1.5rem;
}

.bg-numbers-qdplay {
    background-color: #000000;
}

.bg-black {
    position: relative;
    z-index: 1;
    /* Encima de la mancha roja */
    padding: 1px 0;
    color: white;
    width: 100%;
    background-color: #000000;
}

.negro {
    color: #000000;
}

.text-dark {
    color: #000000;
}

.text-family-akshar {
    font-family: "Akshar", Helvetica;
}

.bg-numbers-qdplay {
    background-color: #000000;
}

.red-blur {
    position: absolute;
    width: 250px;
    height: 600px;
    background-color: rgb(191, 46, 46);
    top: -145px;
    right: 350px;
    transform: translate(50%, 0) rotate(130deg);
    border-radius: 50%;
    filter: blur(55px);
    z-index: 0;
}

.red-blur-secondary {
    position: absolute;
    width: 200px;
    height: 450px;
    background-color: rgb(191, 46, 46);
    top: -145px;
    right: 250px;
    transform: translate(50%, 0) rotate(-130deg);
    border-radius: 50%;
    filter: blur(55px);
    z-index: 0;
}

.blue-blur {
    position: absolute;
    width: 250px;
    height: 600px;
    background-color: rgb(69, 176, 150);
    top: -145px;
    right: 350px;
    transform: translate(50%, 0) rotate(130deg);
    border-radius: 50%;
    filter: blur(55px);
    z-index: 0;
}

.blue-blur-secondary {
    position: absolute;
    width: 200px;
    height: 450px;
    background-color: rgb(69, 176, 150);
    top: -145px;
    right: 250px;
    transform: translate(50%, 0) rotate(-130deg);
    border-radius: 50%;
    filter: blur(55px);
    z-index: 0;
}


/* ############ TERMINA BANNER DE LANDING SERVICIOS*/
