a {
    text-decoration: none;
}

.c-text-size{
    font-size: 100%
}

.hr-gradient {
    background-image: linear-gradient(90deg, rgba(128,202,86,1) 35%, rgba(11,218,195,1) 100%);
    border: 0;
    height: 3px;
}

.bordertest {
    /*
    border-top: 10px solid pink;
    border-image: linear-gradient(90deg, rgba(128, 202, 86, 1) 35%, rgba(11, 218, 195, 1) 100%);
    */
    border-top: 2px solid;
    border-image: linear-gradient(to right, #80ca56, #02dacb) 1 1 0 0;
}

.c-border-bottom{
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #80ca56, #02dacb) 1 1 0 0;
}

.simple-border-bottom{
    border-bottom: 2px solid;
}

.border-top{
    border-top-style: solid;
    /*background-image: linear-gradient(90deg, rgba(128, 202, 86, 1) 35%, rgba(11, 218, 195, 1) 100%);
    border: 0;
    height: 3px;
    */
}
/* Estilos para mostrar texto encima de una imagen */
.tool-container{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.tools-text-center{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-weight: 600;
    transform: translate(-50%, -50%);
}

/*Estilos para botones*/
.custom-btn-link{
    text-decoration: none;
    color: #000;
}

.custom-btn-link:hover{
    text-decoration: none;
}

.header-bg-gradient{
    background-color: #90d06b;
    background-image: linear-gradient(to right, #90d06b, #01dacb);
    -webkit-border-radius: 30px;
    -webkit-border-top-right-radius: 1px;
    -moz-border-radius: 30px;
    -moz-border-radius-topright: 1px;
    border-radius: 30px;
    border-top-right-radius: 1px;
    height: 90%;
    margin-top: 0px;
}
.custom-bg-white{
    background-color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.custom-bg-gradient{
    background-color: #90d06b;
    background-image: linear-gradient(to right, #90d06b, #01dacb);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.space-left-in{
    margin-left: 10px;
}

.btn-white-tool-budget{
    background-color: #eee;
    margin-right: 0px;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    /*border-style: solid;
    border-color: #eee;*/
    font-size: 1.2rem;
    font-weight: 600;
}
.btn-white-tool-budget:hover{
    text-decoration: none;
    /*
    color: #000;
    border-style: solid;
    border-color: #90d06b;
    */
    background: #90D06B;
    background: linear-gradient(to right, #90D06B 0%, #01dacb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-dark-tool-budget{
    background-color: #363637;
    margin-right: 20px;
    padding: 10px 20px;
    color:#fff;
    text-decoration: none;
    /*border-style: solid;
    border-color: #363637;*/
    font-size: 1.2rem;
    font-weight: 600;
}
.btn-dark-tool-budget:hover{
    text-decoration: none;
    /*
    color:#fff;
    border-style: solid;
    border-color: #90d06b;
    */
    background: #90D06B;
    background: linear-gradient(to right, #90D06B 0%, #01dacb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-radius-tool-budget{
    -webkit-border-radius: 20px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 20px;
    -moz-border-radius-bottomleft: 0;
    border-radius: 20px;
    border-bottom-left-radius: 0;
}

.btn-a-style-none{
    color: #000;
    text-decoration: none;
}

.btn-a-style-none:hover{
    text-decoration: none;
    background: #90D06B;
    background: linear-gradient(to right, #90D06B 0%, #01dacb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Estilos de boton para agregar ctegorias*/
.btn-add-move{
    background-color: #fff;
    margin-right: 20px;
    padding: 7px 12px;
    color:#363637;
    border-radius: 20px;
    text-decoration: none;
    border-style: solid;
    border-color: #fff;
}

.btn-add-move:hover{
    background-color: #363637;
    color:#ffffff;
    border-style: solid;
    border-color: #363637;
}

/*Margenes*/
.custom-ml-5{
    margin-left: -5%;
}


/*Inputs del form de herramientas personalizadas*/
.custom-input-text{
    font-size: 0.8rem;
    border-radius: 1.25rem;
    text-align: center;
}

.custom-input-transparent{
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 1.25rem;
    color: #373839;
}

/*Texto con color degradado*/
.text-color-gradient{
    background: #90D06B;
    background: linear-gradient(to right, #90D06B 0%, #01dacb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Clase para encerrar numero con circulo*/
.dot {
    height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}

.numberCircle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 8px;
    background: #fff;
    border: 2px solid #666;
    font-size: .7rem;
    text-align: center;
    font-weight: 700;
    /*border-bottom: 2px solid;*/
    border-image: linear-gradient(to right, #80ca56, #02dacb) 1 1 0 0;
}

/*Section calendar*/
.calendar-card-month{
    background-color: #fff;
    margin: 5%;
    border-radius: 5%;
}

.custom-box {
    position: relative;
  }

.custom-box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 10px;
    background:linear-gradient(to right, #80ca56, #02dacb) 1 1 0 0;
    -webkit-mask:
       linear-gradient(#fff 0 0) content-box,
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

.rounded-corners-gradient-borders{
    border: double 4px transparent;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    padding: 8px;
    /*border-image: linear-gradient(to right, #80ca56, #02dacb) 1;*/
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #80ca56, #02dacb);
    display: inline-block;
    margin-top: 7px;
    font-size: .7rem;
    text-align: center;
    font-weight: 700;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    height: 40px;
    width: 43px;
}


/*estilos para las ventanas emergentes*/
.modal-add-move{
    /*background-image: linear-gradient(white, white), radial-gradient(circle at top left, #80ca56, #02dacb);*/
    background: rgb(128,202,86);
    background: linear-gradient(90deg, rgba(128,202,86,1) 26%, rgba(2,218,203,1) 100%);
    border-radius: 15px;
}

.modal-delete-move {
    /*background-image: linear-gradient(white, white), radial-gradient(circle at top left, #80ca56, #02dacb);*/
    background: #363637;
    /*background: linear-gradient(90deg, rgba(128, 202, 86, 1) 26%, rgba(2, 218, 203, 1) 100%);*/
    border-radius: 15px;
}

/*Btn redondo agregar movimiento*/
.redondo{
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: transparent !important;
    border: 3px solid #fff;
    margin-top: -10px;
    color: #fff;
}

.redondo:hover {
    background-color: #fff !important;
    border: 3px solid #fff;
    margin-top: -10px;
    color: #000;
}

  /* estilos para componentes*/
  .loading-show{
    display: contents;
  }
  .loading-hidden{
    display: none;
  }

  /* estilos scroll en la tabla*/
  .my-custom-scrollbar {
      position: relative;
      height: 450px;
      overflow: auto;
  }

  .table-wrapper-scroll-y {

     display: block;
  }

  /*Estilos scroll en div de calendario*/
  .div-scroll-calendar{
    height:550px;
    overflow:scroll;
    overflow-x:hidden;
  }

  /*Estilo para el checkbox*/
/* The container  */
.containerCheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.containerCheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 23px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerCheck:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerCheck input:checked~.checkmark {
    background-color: #04dac9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containerCheck input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containerCheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*Boton tipo menu para desplegar acciones*/
.button-menu-actions {
    background: rgb(128,202,86);
    background: linear-gradient(90deg, rgba(128,202,86,1) 26%, rgba(2,218,203,1) 100%);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 10%;
}

.button-menu-actions:hover {
    background-color: #363637;;
}

/*Boton para agregar concepto*/
.button-add {
    background: rgb(128,202,86);
    background: linear-gradient(90deg, rgba(128,202,86,1) 26%, rgba(2,218,203,1) 100%);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 50%;
}

.button-add:hover {
    background-color: #363637;;
}

/*Boton para eliminar concepto*/
.button-delete {
    background-color: #fc7c7c;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 50%;
}

.button-delete:hover {
    background-color: #f05f5f;
}
/*Boton para editar concepto*/
.button-edit {
    background-color: #363637;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 50%;
}

.button-edit:hover {
    background-color: #121213;
}
/*Boton para editar concepto*/

.button-confirm-delete {
    background-color: #fc7c7c;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button-confirm-delete:hover {
    background-color: #f86c6c;
}

.btn-line-buttom{
    border-bottom: solid;
    text-decoration: none;
}
.btn-line-buttom:hover {
    text-decoration: none;
}

.span-small-rounded-corners-gradient-borders
{
    border: double 4px transparent;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    padding: 6px;
    /*border-image: linear-gradient(to right, #80ca56, #02dacb) 1;*/
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #80ca56, #02dacb);
    display: inline-block;
    margin-top: 0px;
    font-size: .6rem;
    text-align: center;
    font-weight: 500;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    height: 30px;
    width: 31px;
}
/*Media Queries para pantallas tipo laptop*/
@media (min-width: 1000px) {
    .b-calendar-name-month{
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    .b-calendar-div-amounts{
        margin-top: 6%;
        margin-left: 6%;
        margin-right: 6%;
    }

    .b-calendar-div-amounts-p{
        font-size: 0.7rem;
        color: #fff;
        font-weight: bold;
        margin-top: -5px;
    }

    .b-calendar-div-amounts-span {
        font-size: .7rem;
        margin-right: 20px;
    }
    /*Clases para ventana modal tarjeta zoom*/
      .b-calendar-name-month-modal{
          text-transform: uppercase;
          font-size: 1.9rem;
      }

      .b-calendar-div-amounts-span-modal {
          font-size: .9rem;
          margin-right: 20px;
      }
      .b-calendar-div-amounts-p-modal{
          font-size: 1rem;
          color: #fff;
          font-weight: bold;
          margin-top: -5px;
      }
      .rounded-corners-gradient-borders-modal{
          border: double 4px transparent;
          border-radius: 50%;
          border-width: 2px;
          border-style: solid;
          padding: 8px;
          /*border-image: linear-gradient(to right, #80ca56, #02dacb) 1;*/
          background-image: linear-gradient(white, white), radial-gradient(circle at top left, #80ca56, #02dacb);
          display: inline-block;
          margin-top: 7px;
          font-size: .9rem;
          text-align: center;
          font-weight: 700;
          background-origin: border-box;
          background-clip: padding-box, border-box;
          height: 45px;
          width: 46px;
      }

    .budget-title-modal {
        font-size: 18px;
    }

    .span-label-modal {
        font-size: 55%;
    }

    .header-bg-gradient {
        margin-top: 0px;
    }
}

@media (min-width: 1280px) {
    .btn-white-tool-budget {
            background-color: #eee;
            margin-right: 0px;
            padding: 10px 20px;
            color: #000;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 600;
    }

    .btn-dark-tool-budget {
        background-color: #363637;
        margin-right: 20px;
        padding: 10px 20px;
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
    }

    .small{
        font-size: 70%;
    }

    .budget-title-modal{
        font-size: 23px;
    }

    .span-label-modal{
        font-size: 65%;
    }

    .header-bg-gradient {
        margin-top: 0px;
    }
}

@media (min-width: 768px) {
    .header-bg-gradient {
        margin-top: 20px;
    }

    .budget-title-modal{
        font-size: 15px;
    }
}

@media (min-width: 800px) {
    .span-label-modal {
        font-size: 15px;
    }
}
